body {
    background-color: rgb(182, 182, 182);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 7.5em;
  text-align: center;
  margin: 40px 0 20px;
}

.font-size {
  font-size: 4em;
}

.menu-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 90%;
}

.menu-card {
  background-color: rgb(230, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;
  height: auto;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 10px 10px #0001;
}
.menu-card h2 {font-size: 4em; text-align: center; width: 100%;}
.menu-card p {font-size: 2em; text-align: center; width: 100%;}
.menu-card button {font-size: 2em; text-align: center; width: 100%;  padding: 10px 20px;}

.Modification-Menu {
  display: none;
  width: 75vw;
  height: 75vh;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #cacaca;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.Modification-Menu h2 {margin-top: 0.5em; margin-bottom: 1em; font-size: 3.5em;}
.Modification-Menu button {font-size: 2em; width: 10%; padding: 10px 20px; align-self: center; margin-bottom: 1em;}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.option-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}

.option-box {
  display: flex;
  justify-content: center;
  flex-direction: center;
  width: 15vw;
  background-color: white;
  border: 2px solid #ccc;
  padding: 15px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.option-box input[type="checkbox"] {display: none;}
.option-box input[type="checkbox"]:checked + span {background-color: #b6b6b6; border-color: #808080;}
.option-box span {display: block; width: 100%; height: 100%; text-align: center;}